@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Comfortaa:wght@500;600&family=Gentium+Book+Basic:ital@0;1&display=swap');
.nav-style{
  background-color: rgb(255, 225, 75);
  padding: 0;
  
}
.title{
  font-family: 'Caveat', cursive;
  font-size: 2.3em;
}

.li-style{
  text-shadow: 0 0 3px #857b7b;
  margin-right: 1em;
  font-size: 1.2em;
  font-family: 'Gentium Book Basic', serif;
  font-style: italic;
  list-style: none;
  text-decoration: none;
}

.cart{
  color: rgb(0, 31, 141);
  
}
.cart-div{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gentium Book Basic', serif;
  color: rgb(2, 38, 158);
  margin: 0 1em;
  width: 2.5em;
  height: 2.5em;
  background-color: rgb(28, 203, 191);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ul{
  display: flex;
}
.link{
  text-decoration: none;
  color: black;
}