.c-clothes{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product{
    margin: 1em 1em 1em 2em;

    padding: 1em;
}
.img{
    width: 14em;
}
.text-product{
    display: flex;
    flex-direction: column;
    padding: 1em;
    line-height: 2em;
    text-align: center;
}

.btn-detail{
    border: none;
    margin-top: 1em;
    border-radius: 10px;
    width: 5em;
    background-color: rgba(28, 203, 191, 0.897);
}

.btn-detail:hover{
    cursor: pointer;
    width: 5.5em;
    background-color: aquamarine;
}