@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Comfortaa:wght@500;600&family=Gentium+Book+Basic:ital@0;1&display=swap');
.nav-style{
  background-color: rgb(255, 255, 30);
  padding: 0;
  
}
.title{
  font-family: 'Caveat', cursive;
  font-size: 2.3em;
}

.li-style{font-size: 1.1em;
  font-family: 'Gentium Book Basic', serif;
  font-style: italic;
  list-style: none;
}